.input {
    margin-bottom: 15px;
}

.input input {
    display: block;
    padding: 5px 10px;
    margin: 0;
    width: 100%;
    outline: none;
    transition: all 300ms ease-in-out;
    background-color: #f0f4f7;
    border: none;
    border-radius: 15px;
    color: #747678;
    font-size: 15px;
}

.input span {
    color: #f01f30;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}